@import './constants.css';

.footer {
    background-color: var(--color-black);
}

.footer a:hover {
    color: orange;
}

.footer-container {
    margin: 0px 10%;
    display: flex;
    padding: 4em 0em;
}

.footer-column {
    display: flex;
    flex-direction: column;
    color: white;
    width: 17.6%;
    padding: 1em;
    justify-content: space-between;
}

.footer-column h3 {
    margin-bottom: 1em;
}

.footer-column a {
    color: white;
}

.newsletters {
    width: 23.6%;
}



.newsletters p {
    margin-bottom: 2em;
}

.newsletters input {
    border-radius: 0px;
    padding-left: 1em;
    background-color: yellow;
    border-color: yellow;
    font-weight: 700;
}

.newsletters button {
    background-color:black;
    border-color: black;
    color: white;
}


.credit-card-container {
    display: flex;
}

.credit-card-holder {
    width: 16%;
    margin-right: 3%;
}

.credit-card-holder img {
    max-width:100%;
    height:auto;
}

.about-us {
    width: 23.6%;
}

.about-us h3 {
    margin: 0px;
}

.about-us p {
    font-size: 0.8em;
}

.about-us a {
    color: yellow;
}