@import './constants.css';

.insta-feed {
    margin: 0px 10%;
}

.insta-header {
    display: flex;
    padding-top: 2em;
    padding-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
}

.insta-header i {
    margin-right: 5px;
    font-size: 2em;
}

.insta-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 4em;
}

.insta-img-holder {
    padding: 0.5em;
    background-color: #fff;
}