@import './constants.css';

.social-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.social-banner-holder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: white;
}

.social-banner-holder:hover {
    color: rgb(80, 80, 241);
}

.social-banner-holder i{
    padding: 10%;
}

.facebook {
    background-color: #3b5997;
}

.twitter {
    background-color: #3fccfd;
}

.pinterest {
    background-color: #cb2027;
}