:root {
    /*----------COLOR CONSTANTS-----------------*/
    --color-orange: #fb4d01;
    --color-yellow: #fff51f;
    --color-black: #333 ;
    --color-teal: #26d2fc;
    --color-light-gray: #eaeaea;
    --color-gray: #707070; 
}