@import './constants.css';
@import './component/general.css';
@import './component/header.css';
@import './component/main.css';
@import './component/brand.css';
@import './component/insta-feed.css';
@import './component/social-banner.css';
@import './component/footer.css';
@import './component/footer-bottom.css';

.header {
    margin-bottom: -2em;
    padding-bottom: 5%;
}

.row .col-xl-9 {
    background-color: #f1f1f1;
}

@media screen and (max-width: 1200px) {
    .banner-right {
        flex: 1;
        margin-left: 0em;
    }
    
    .banner-left {
        flex: 1;
        width: 37%;
    }

    .slide-control {
        margin-top: 2em;
    }
}

@media screen and (max-width: 1300px) {
    .banner-right {
        flex: 1;
        margin-left: 0em;
    }
    
    .banner-left {
        flex: 1;
        width: 26%;
    }

    .slide-control {
        margin-top: 2em;
    }

    .social {
        padding-left: 0em;
    }
}