@import './constants.css';

body {
    background-color: #f1f1f1;
}

ul {
    list-style: none;
    display:block;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

p {
    margin:0px;
}

li {
    padding: 0px;
}

.container {
    display: inline-block;
    
}

.header {
    background: url(../resource/logo/1.jpg) no-repeat center top;
    background-position: center;
    background-size: 100%;
    padding: 0% 9%;
}

.header-top {
    padding-top: 2em;
    padding-bottom: 3em;
    display: inline-block;
    width: 100%;
}

.logo {
    float: left;
    margin-left: 3em;
}

.header-right {
    float: right;
    margin-top: 3em;
    width: 30%;
}

.social {
    list-style: none;
    float: left;
    padding-left: 3em;
}

ul.social li {
    display: inline-block;
    padding: 10px;
}

ul.social li i {
    color: var(--color-black);
}



/*-------#BANNER-----------*/
.banner {
    display: inline-block;
}

.banner-wrap {
    display: flex;
    justify-content: space-between;
}
/*---#BANNER-LEFT---*/
.banner-left {
    float: left;
    width: 20%;
}

.login {
    list-style: none;
    display: block;
    background-color: #f8f8f8;
    margin-bottom: 0px;
    padding: 0px 10%;
}

ul.login li {
    display: inline-block;
    padding: 10px;
}

ul.login li a {
    color: var(--color-orange);
}

.cart {
    background-color: var(--color-orange);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.cart-description {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: space-around;
}

ul.cart-description li {
    display: inline-block;
    padding: 10px;
}

ul.cart-control {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding-right: 1em;
}

.quick-access {
    list-style: none;
    display: flex;
    background-color: var(--color-darker-orange);
    margin-bottom: 0px;
    padding: 0px 0%;
    align-items: center;
    justify-content: space-around;

}

ul.quick-access li {
    display: inline-block;
    padding: 10px;
}

ul.quick-access li a {
    color: white;
}

.search {
    display: flex;
}

.inp-text {
    width: 87%;
    border: none;
    padding-top: 5px;
    padding: 5px 5px 5px 10px;
}

.inp-text:focus {
    outline: none;
}

.inp-submit {
    border: none;
    border-radius: 0%;
    width: 13%;
    padding: inherit;
    background-color: var(--color-black);
}


.welcome-box {
    background-color: var(--color-yellow);
    margin-top: 1em;
    padding: 4em 8%;
    text-align: justify;
    font-weight: 800;
}

.welcome-box h2 {
    margin-bottom: 1em;
}
/*----------------#BANNER-RIGHT-----------------*/

.banner-right {
    color: var(--color-yellow);
    width: 40%;
    margin-top: 3em;
    margin-top: 5em;
    margin-left: 10em;
    padding-left: 7em;
}

.banner-right h1 {
    font-weight: 900;
    font-size: xxx-large;
}

.banner-right a {
    background-color: yellow;
    border-color: yellow;
    color: black;
    font-weight: 600;
    margin-top: 3em;
    padding: 10px 20px;
}

.slide-button {
    display: flex;
    align-items: center;
}

.slide-button a {
    height: 10%;
    display: flex;
    align-items: center;
    border-radius: 0%;
    border-color: white;
    background-color: white;
    color: var(--color-black);
}

.slide-control {
    display: flex;
    justify-content: center;
}

.slide-navigation {
    margin: 0px 1em;
}

.slide-navigation a {
    display: block;
    width: 60px;
    height: 4px;
    background-color: yellow;
    text-indent: -9999px;
    margin-bottom: 2em;
}

.slide-navigation .activate {
    background-color: var(--color-orange) !important;
}

/*----------#MAIN--------*/
.main {
    padding: 0px 10%;
}

.main-left {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.menu-box h3 {
    padding: 1em 3em 1em 1em;
    margin: 0px;
    background-color: var(--color-black);
    font-size: 20px;
    color: white;
}

.menu-nav {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: block;
    background-color: var(--color-teal);
    padding: 0.60em;
}

.ads {
    position: relative;
}

.img-holder img{
    display: block;
    max-width: 100%;
    height: auto;
}

.ads-holder {
    position: absolute;
    left: 6.5em;
    top: 35%;
    width: 100%;
    text-align: left;
}

.ads-holder h3 {
    font-weight: 800;
    font-style: italic;
}

.tags {
    margin-bottom: 1em;
    background: #fff;
    padding: 20px 10px;
}

.tags h3 {
    margin-bottom: 1em;
    font-weight: 900;
    font-size: larger;
}

.tags-holder {
    display: flex;
    flex-wrap: wrap;
}

.tags-btn {
    margin: 0px 5px 5px 0px;
    border-radius: 0px;
    background-color: #e9e9e9;
}

.tags-expand {
    display: block;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}

.tags-link-holder {
    display: flex;
    flex-direction: column;
}

.tags-link {
    margin-bottom: 0.5em;
}

/*-------#PRODUCT-----------*/



.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.product-header h3 {
    font-style: italic;
    font-weight: 800;
    color: gray;
}

.product-btn {
    padding: 0.25em 0.25em;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-item {
    background-color: #fff;
    width: 30%;
    padding: 1em;
    margin: 1em 0.5em ;
    position: relative;
    height: calc(100% - 2em);
}

.product-description {
    display: flex;
    height: 3em;
    justify-content: space-between;
    font-weight: bold;
    margin: 0.5em 0em 0em;
}

.on-sale {
    text-decoration: line-through;
    color: #ff8080;
}

.brand {
    padding: 0% 10%;
    
}

.brand-container {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em 0em;
}

.brand-holder {
    height: 3em;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-holder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


.insta-feed {
    margin: 0px 10%;
    background-color: #d2cccc;
}

.insta-header {
    display: flex;
    padding-top: 2em;
    padding-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 700;
    font-style: italic;
}

.insta-header i {
    margin-right: 5px;
    font-size: 2em;
}

.insta-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 4em;
}

.insta-img-holder {
    padding: 0.5em;
    background-color: #fff;
}

.social-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.social-banner-holder {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    color: white;
}

.social-banner-holder i{
    padding: 10%;
}

.facebook {
    background-color: #3b5997;
}

.twitter {
    background-color: #3fccfd;
}

.pinterest {
    background-color: #cb2027;
}

.footer {
    background-color: var(--color-black);
}

.footer-container {
    margin: 0px 10%;
    display: flex;
    padding: 4em 0em;
}

.footer-column {
    display: flex;
    flex-direction: column;
    color: white;
    width: 17.6%;
    padding: 1em;
    justify-content: space-between;
}

.footer-column h3 {
    margin-bottom: 1em;
}

.footer-column a {
    color: white;
}

.newsletters {
    width: 23.6%;
}



.newsletters p {
    margin-bottom: 2em;
}

.newsletters input {
    border-radius: 0px;
    padding-left: 1em;
    background-color: yellow;
    border-color: yellow;
    font-weight: 700;
}

.newsletters button {
    background-color:black;
    border-color: black;
    color: white;
}


.credit-card-container {
    display: flex;
}

.credit-card-holder {
    width: 16%;
    margin-right: 3%;
}

.credit-card-holder img {
    max-width:100%;
    height:auto;
}

.about-us {
    width: 23.6%;
}

.about-us h3 {
    margin: 0px;
}

.about-us p {
    font-size: 0.8em;
}

.about-us a {
    color: yellow;
}

.footer-bottom {
    background-color: #232121;
    color: white;
    padding: 0.5em 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    display: flex;
}

.social-icon a {
    display: block;
    color: white;
    padding: 0px 10px;
}